<div class="page-wrapper">

    <!-- Page Content-->
    <div class="page-content-tab">

        <div class="container-fluid">
           
            <div class="d-flex align-items-center justify-content-center vh-100">
                <div>
                    <p class="text-center">Welcome to the dashboard</p>
                </div>
            </div>
        </div><!-- container -->

        <!--Start Rightbar-->
        <!--Start Rightbar/offcanvas-->
        
        <!--end Rightbar/offcanvas-->
         <!--end Rightbar-->
         
        <!--Start Footer-->
        <!-- Footer Start -->
        
        <!-- end Footer -->                
        <!--end footer-->
    </div>
    <!-- end page content -->
</div>
<!-- end page-wrapper -->