<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer footer-main-home">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 md-mb-20">
                    <h3 class="footer-title">About Company</h3>
                    <div class="textwidget mb-33">
                        HR MANAGMENT <br>  DIRECT ABROAD HIRING  <br> STUDY ABROAD <br> FAST PROCESS   
                    </div>  
                    <ul class="footer-social md-mb-30">  
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>                     
                        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>                     
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>                     
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>                   
                      </ul>
                </div>
                <div class="col-lg-5 pl-76 md-pl-15 md-mb-10">
                    <h3 class="footer-title">Contact Info</h3>
                    <ul class="address-widget">
                        <li>
                            <i class="fi fi-rr-map-marker-home"></i>
                            <div class="desc">
                               First Floor City Tower, Near Calicut International Airpot<br> 
                              Bye-pass Road, kondotty
                            </div>
                        </li>
                        <li>
                            <i class="fi fi-rr-phone-call"></i>
                            <div class="desc">
                               <a href="tel:+91 0483 20 80189">+91 0483 20 80189</a>
                            </div>
                            <div class="desc">
                                <a href="tel: +91 89430 74789">+91 89430 74789</a>
                             </div>
                        </li>
                       
                        <li>
                            <i class="fi fi-rr-envelope-plus"></i>
                            <div class="desc">
                                <a href="mailto:asiapacificcareer@gmail.com">asiapacificcareer@gmail.com</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- <div class="col-lg-3 pl-75 md-pl-15 md-mb-10">
                    <h3 class="footer-title">Featured Services</h3>
                    <ul class="site-map">
                        <li><a >Fintech Analysis</a></li>
                        <li><a >Project Reporting</a></li>
                        <li><a >Reports Analysis</a></li>
                        <li><a >Business Analysis</a></li>
                        <li><a >Business Planning</a></li>
                    </ul>
                </div> -->
                <div class="col-lg-3">
                    <h3 class="footer-title">Recent Updates</h3>
                    <ul class="post-widget">
                        <li class="post-item mb-30">
                            <div class="desc"><h3 class="title"><a href="#">CAREER IN EUROPE-MALTA (ELECTRICIAN )</a></h3></div>
                            <!-- <div class="post-date"> 
                                <i class="fi-rr-calendar"></i>
                                March 23, 2022                  
                            </div> -->
                        </li>
                        <li class="post-item  mb-30">
                            <div class="desc"><h3 class="title"><a href="#">CAREER IN EUROPE-MALTA (BRICKLAYER)</a></h3></div>
                            <!-- <div class="post-date"> 
                                <i class="fi-rr-calendar"></i>
                                March 23, 2022                  
                            </div> -->
                        </li>
                        <li class="post-item">
                            <div class="desc"><h3 class="title"><a href="#">CAREER IN EUROPE-MALTA (SHUTTERING CARPENTER)</a></h3></div>
                            <!-- <div class="post-date"> 
                                <i class="fi-rr-calendar"></i>
                                March 23, 2022                  
                            </div> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">                    
            <div class="row y-middle">
                <div class="col-lg-6 md-mb-10 text-lg-end text-center order-last">
                    <ul class="copy-right-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/service">Services</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="copyright text-lg-start text-center">
                        <p>© 2024 Asia Pecific.  Designed By <a href="https://cyenosure.com" target="blank">Cyenosure</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->