<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from demo.rstheme.com/html/renovix/onepage4.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Feb 2024 06:22:27 GMT -->

<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>Asia pacific</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.html">
    <link rel="shortcut icon" type="image/x-icon" href="/images/blog/sample.png">
    <!-- Bootstrap v5.0.2 css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="/fonts/font/font-awesome.min.css">
    <!-- Uicons Regular Rounded css -->
    <link rel="stylesheet" type="text/css" href="/css/uicons-regular-rounded.css">
    <!-- flaticon css -->
    <link rel="stylesheet" type="text/css" href="/fonts/flaticon.css">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
    <!-- slick slider css -->
    <link rel="stylesheet" type="text/css" href="/css/slick.css">
    <!-- odometer css -->
    <link rel="stylesheet" type="text/css" href="/css/odometer.min.css">
    <!-- off canvas css -->
    <link rel="stylesheet" type="text/css" href="/css/off-canvas.css">
    <!-- magnific popup css -->
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
    <!-- Main Menu css -->
    <link rel="stylesheet" type="text/css" href="/css/rsmenu-main.css">
    <!-- spacing css -->
    <link rel="stylesheet" type="text/css" href="/css/rs-spacing.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- This stylesheet dynamically changed from style.less -->
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">

</head>

<body class="defult-home">
    <div class="offwrap"></div>

    <!--Preloader start here-->
    <div id="pre-load">
        <div id="loader" class="loader">
            <div class="loader-container">
                <div class="loader-icon"><img src="/images/fav.png" alt="Renovix - Business Consulting Html Template ">
                </div>
            </div>
        </div>
    </div>
    <!--Preloader area end here-->

    <!-- Main content Start -->
    <div class="main-content">
        <%- include('partials/userheader') %>
            <%- body %>
    </div>
    <%- include('partials/userfooter') %>
        <!-- start scrollUp  -->
        <div id="scrollUp">
            <i class="fa fa-angle-up"></i>
        </div>
        <!-- End scrollUp  -->


        <!-- Search Modal Start -->
        <div class="modal fade search-modal" id="searchModal" tabindex="-1">
            <button type="button" class="close" data-bs-dismiss="modal">
                <i class="fi fi-rr-cross-small"></i>
            </button>
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="search-block clearfix">
                        <form>
                            <div class="form-group">
                                <input class="form-control" placeholder="Searching..." type="text">
                                <button type="submit" value="Search"><i class="fi fi-rr-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search Modal End -->

        <!-- modernizr js -->
        <script src="/js/modernizr-2.8.3.min.js"></script>
        <!-- jquery latest version -->
        <script src="/js/jquery.min.js"></script>
        <!-- Bootstrap v5.0.2 js -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- op nav js -->
        <script src="/js/jquery.nav.js"></script>
        <!-- PageScroll2id onepage js -->
        <script src="/js/jquery.malihu.PageScroll2id.min.js"></script>
        <!-- owl.carousel js -->
        <script src="/js/owl.carousel.min.js"></script>
        <!-- Slick js -->
        <script src="/js/slick.min.js"></script>
        <!-- wow js -->
        <script src="/js/wow.min.js"></script>
        <!-- Skill ba/r js -->
        <script src="/js/skill.bars.jquery.js"></script>
        <!-- imagesloaded js -->
        <script src="/js/imagesloaded.pkgd.min.js"></script>
        <!-- odometer & appear js -->
        <script src="/js/jquery.appear.min.js"></script>
        <script src="/js/odometer.min.js"></script>
        <!-- magnific popup js -->
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <!-- contact form js -->
        <script src="/js/contact.form.js"></script>
        <!-- main js -->
        <script src="/js/main.js"></script>
</body>

<!-- Mirrored from demo.rstheme.com/html/renovix/onepage4.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Feb 2024 06:22:27 GMT -->

</html>