<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from demo.rstheme.com/html/renovix/onepage4.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Feb 2024 06:22:27 GMT -->

<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>Asia pacific</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.html">
    <link rel="shortcut icon" type="image/x-icon" href="/images/blog/sample.png">
    <!-- Bootstrap v5.0.2 css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="/fonts/font/font-awesome.min.css">
    <!-- Uicons Regular Rounded css -->
    <link rel="stylesheet" type="text/css" href="/css/uicons-regular-rounded.css">
    <!-- flaticon css -->
    <link rel="stylesheet" type="text/css" href="/fonts/flaticon.css">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
    <!-- slick slider css -->
    <link rel="stylesheet" type="text/css" href="/css/slick.css">
    <!-- odometer css -->
    <link rel="stylesheet" type="text/css" href="/css/odometer.min.css">
    <!-- off canvas css -->
    <link rel="stylesheet" type="text/css" href="/css/off-canvas.css">
    <!-- magnific popup css -->
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
    <!-- Main Menu css -->
    <link rel="stylesheet" type="text/css" href="/css/rsmenu-main.css">
    <!-- spacing css -->
    <link rel="stylesheet" type="text/css" href="/css/rs-spacing.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- This stylesheet dynamically changed from style.less -->
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha384-kJq0Ms9P7EA67RpBti1MzVVlaqFlFXjs7Iz77x0cRIpu6U5eCm+dR3uhjzW4fjA5" crossorigin="anonymous">

</head>

<body class="defult-home">
    <!-- modal -->
    <div class="modal fade centered" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #0C6460;">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Enter your Mobile Number</h5>
                    <button type="button" id="closeModalBtn" class="btn btn-close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>

                </div>
                <form action="/Addmobile" method="post" id="subscribeForm">
                    <div class="modal-body d-flex flex-column align-items-end">
                        <input type="text" class="form-control mb-2" placeholder="Phone" name="phone">
                        <button type="submit" class="btn text-white" style="background-color:#0C6460;"
                            id="closeModalBtns">Subscribe</button>
                    </div>
                </form>
                <!-- <div class="modal-footer">
                    <button type="button" id="closeModalBtns" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                        Close
                    </button>
                    
                    <button type="button" class="btn text-white"  style="background-color:#0C6460;">Subscribe</button>
                </div> -->
            </div>
        </div>
    </div>
    <!--  -->
    <div class="offwrap"></div>

    <!--Preloader start here-->
    <div id="pre-load">
        <div id="loader" class="loader">
            <div class="loader-container">
                <div class="loader-icon"><img src="/images/blog/sample.png"
                        alt="Renovix - Business Consulting Html Template ">
                </div>
            </div>
        </div>
    </div>
    <!--Preloader area end here-->

    <!-- Main content Start -->
    <div class="main-content">
        <%- include('partials/userheader') %>
            <%- body %>
    </div>
    <%- include('partials/userfooter') %>
        <!-- start scrollUp  -->
        <!-- WhatsApp icon -->
        <div id="whatsapp-icon">
            <a href="https://wa.me/+918943074789" target="_blank">
                <img src="/images/blog/whatsappicon.png" alt="WhatsApp">
            </a>
        </div>

        <!-- <div id="contact-icon">
            <img src="/images/blog/contacts.png" alt="WhatsApp">
        </div> -->
        <div id="scrollUp">
            <i class="fa fa-angle-up"></i>
        </div>
        <!-- End scrollUp  -->


        <!-- Search Modal Start -->
        
        <!-- Search Modal End -->
        <!-- moda -->

        <!--  -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Check if a condition is met to show the modal
                var shouldShowModal = '<%= show %>' === 'true';
        
                if (shouldShowModal) {
                    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
        
                    // Show the modal
                    myModal.show();
        
                    // Handle close button click
                    var closeModalBtn = document.getElementById('closeModalBtn');
                    closeModalBtn.addEventListener('click', function () {
                        // Use Bootstrap's hide method to close the modal
                        myModal.hide();
                    });
        
                    var closeModalBtns = document.getElementById('closeModalBtns');
                    closeModalBtns.addEventListener('click', function () {
                        // Use Bootstrap's hide method to close the modal
                        myModal.hide();
                    });
        
                    var closeModalsub = document.getElementById('sub');
                    closeModalsub.addEventListener('click', function () {
                        // Use Bootstrap's hide method to close the modal
                        myModal.hide();
                    });
                }
            });
        </script>
        
        
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var subscribeForm = document.getElementById('subscribeForm');

                if (subscribeForm) {
                    subscribeForm.addEventListener('submit', function (event) {
                        event.preventDefault();

                        var formData = new FormData(subscribeForm);

                        fetch('/Addmobile', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            body: new URLSearchParams(formData).toString(),
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log('Server response:', data);
                                // Optionally, close the modal or perform other actions
                                alert(data.message)
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                // Handle errors, e.g., show an alert
                                alert('Error processing the form. Please try again.');
                            });
                    });
                } else {
                    console.error('Element with ID "subscribeForm" not found.');
                }
            });
        </script>

        <!-- modernizr js -->
        <script src="/js/modernizr-2.8.3.min.js"></script>
        <!-- jquery latest version -->
        <script src="/js/jquery.min.js"></script>
        <!-- Bootstrap v5.0.2 js -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- op nav js -->
        <script src="/js/jquery.nav.js"></script>
        <!-- PageScroll2id onepage js -->
        <script src="/js/jquery.malihu.PageScroll2id.min.js"></script>
        <!-- owl.carousel js -->
        <script src="/js/owl.carousel.min.js"></script>
        <!-- Slick js -->
        <script src="/js/slick.min.js"></script>
        <!-- wow js -->
        <script src="/js/wow.min.js"></script>
        <!-- Skill ba/r js -->
        <script src="/js/skill.bars.jquery.js"></script>
        <!-- imagesloaded js -->
        <script src="/js/imagesloaded.pkgd.min.js"></script>
        <!-- odometer & appear js -->
        <script src="/js/jquery.appear.min.js"></script>
        <script src="/js/odometer.min.js"></script>
        <!-- magnific popup js -->
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <!-- contact form js -->
        <script src="/js/contact.form.js"></script>
        <!-- main js -->
        <script src="/js/main.js"></script>
</body>

</html>