<div class="rs-breadcrumbs img1">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                About Us
                <span class="watermark">About</span>
            </h1>
            <span class="sub-text">We, Asia pacific [Dream of your career] at near Calicut International Airport in Kerala.
                </span>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->

<!-- About Start -->
<div id="rs-about" class="rs-about about-style2 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 pr-40 md-pr-15 md-mb-50">
                <div class="about-img wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0s">
                    <img src="images/about/about-us.png" alt="Images">
                </div>
            </div>
            <div class="col-lg-6 pr-35 md-pr-15 pl-30 md-pl-15">
                <div class="sec-title mb-45 md-mb-25">
                    <span class="sub-text big-text">About Us</span>
                    <h2 class="title title2 title-color pb-20">
                        Over Many Years of Experience 
                        in Career<span> Abroad</span>
                    </h2>
                    <p class="desc small2">We, Asia pacific [Dream of your career] at near Calicut International Airport in Kerala. We are one of the leading human resources mainly focus Chat Support- BPO, We hold expertise in designing custom processes and achieving excellent outcomes for clients. We are committed to achieve the goal of excellence through accelerating the processes and magnifying customer satisfaction.
                        Thanks for stopping by. Of the millions of websites and pages online, I'm glad you decided to checkout this about page for asiapacificcareer.com, A little bit about us.
                        </p>
                </div>
                <!-- Counter Section Start -->
                <div id="rs-counter" class="rs-counter counter-style2 pb-45">
                    <div class="row">
                        <div class="col-lg-5 md-mb-30 col-md-5">
                            <div class="rs-counter-list">
                                <div class="counter-right-border"></div>       
                                <div class="count-text">
                                    <div class="count-number">
                                        <span class="rs-count odometer" data-count="552">00</span>
                                        <span class="prefix">+</span>			    	
                                    </div>
                                    <span class="title">Happy Customers</span>	
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="rs-counter-list widget-padding">       
                                <div class="count-text">
                                    <div class="count-number">
                                        <span class="rs-count odometer" data-count="652">00</span>
                                        <span class="prefix">+</span>			    	
                                    </div>
                                    <span class="title">Completed Cases</span>	
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Counter Section End -->
                <!-- <div class="row y-middle">
                    <div class="col-lg-8 md-mb-30">
                        <div class="addon-services">
                            <div class="services-img">
                                <img src="images/about/style2/sir-working.png" alt="Images">
                            </div>
                            <div class="services-text">
                                <h5 class="title"> Prince La Lakim</h5>
                                <p class="services-txt">CEO, Founder</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="sign-img">
                            <img src="images/about/style2/sign-sir.png" alt="Images">
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- start -->
<div id="rs-about" class="rs-about about-style2 pt-10 pb-10 md-pt-20 md-pb-20">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 pr-40 md-pr-15 md-mb-50">
                <div class="sec-title mb-45 md-mb-25">
                    <span class="sub-text big-text">About Us</span>
                    <h2 class="title title2 title-color pb-20">
                        Over Many Years of Experience 
                        in Career<span> Abroad</span>
                    </h2>
                    <p class="desc small2">We, Asia pacific [Dream of your career] at near Calicut International Airport in Kerala. We are one of the leading human resources mainly focus Chat Support- BPO, We hold expertise in designing custom processes and achieving excellent outcomes for clients. We are committed to achieve the goal of excellence through accelerating the processes and magnifying customer satisfaction.
                        Thanks for stopping by. Of the millions of websites and pages online, I'm glad you decided to checkout this about page for asiapacificcareer.com, A little bit about us.
                        </p>
                </div>
            </div>
            <div class="col-lg-6 pr-35 md-pr-15 pl-30 md-pl-15">
                <div class="about-img wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0s">
                    <img src="images/about/about-us.png" alt="Images">
                </div>
               
              
                
               
            </div>
        </div>
    </div>
</div>
<!-- end -->
<!-- Call To Action Choose Start -->
<div class="rs-cta">
    <div class="container">
        <div class="call-action bg1 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
            <div class="sec-title">
                <span class="sub-text big-text">Careers</span>
                <h2 class="title title2 pb-28">
                    Want to Be Part of<br>
                    Our <span>Team?</span>
                </h2>
                <div class="btn-part">
                    <a class="readon details join" href="/contact">Join Our Team</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call To Action Choose End -->

<!-- Testimonial Section Start -->

<!-- Testimonial Section End -->

<!-- Contact Start -->
<div class="rs-contact contact-style2  pb-120 md-pb-80">
    
</div>
<!-- Contact End -->


<script>
    function submitForm(event) {
  
    // Reload the page
    location.reload();

    
    window.alert("contact detail send successfully")
}
</script>