<div class="rs-breadcrumbs img1">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                About Us
                <span class="watermark">About</span>
            </h1>
            <span class="sub-text">Excepteur sint occaecat cupidatat non proident, sunt in coulpa qui official<br> 
            modeserunt mollit anim id est laborum 20 years experience.</span>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->

<!-- About Start -->
<div id="rs-about" class="rs-about about-style2 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 pr-40 md-pr-15 md-mb-50">
                <div class="about-img wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0s">
                    <img src="images/about/about-us.png" alt="Images">
                </div>
            </div>
            <div class="col-lg-6 pr-35 md-pr-15 pl-30 md-pl-15">
                <div class="sec-title mb-45 md-mb-25">
                    <span class="sub-text big-text">About Us</span>
                    <h2 class="title title2 title-color pb-20">
                        Over 25 Years of Experience 
                        in Building<span> Business</span>
                    </h2>
                    <p class="desc small2">On the other hand we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment so blinded by desire.</p>
                </div>
                <!-- Counter Section Start -->
                <div id="rs-counter" class="rs-counter counter-style2 pb-45">
                    <div class="row">
                        <div class="col-lg-5 md-mb-30 col-md-5">
                            <div class="rs-counter-list">
                                <div class="counter-right-border"></div>       
                                <div class="count-text">
                                    <div class="count-number">
                                        <span class="rs-count odometer" data-count="552">00</span>
                                        <span class="prefix">+</span>			    	
                                    </div>
                                    <span class="title">Happy Customers</span>	
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="rs-counter-list widget-padding">       
                                <div class="count-text">
                                    <div class="count-number">
                                        <span class="rs-count odometer" data-count="652">00</span>
                                        <span class="prefix">+</span>			    	
                                    </div>
                                    <span class="title">Completed Cases</span>	
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Counter Section End -->
                <div class="row y-middle">
                    <div class="col-lg-8 md-mb-30">
                        <div class="addon-services">
                            <div class="services-img">
                                <img src="images/about/style2/sir-working.png" alt="Images">
                            </div>
                            <div class="services-text">
                                <h5 class="title"> Prince La Lakim</h5>
                                <p class="services-txt">CEO, Founder</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="sign-img">
                            <img src="images/about/style2/sign-sir.png" alt="Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Call To Action Choose Start -->
<div class="rs-cta">
    <div class="container">
        <div class="call-action bg1 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
            <div class="sec-title">
                <span class="sub-text big-text">Careers</span>
                <h2 class="title title2 pb-28">
                    Want to Be Part of<br>
                    Our <span>Team?</span>
                </h2>
                <div class="btn-part">
                    <a class="readon details join" href="about.html">Join Our Team</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call To Action Choose End -->

<!-- Testimonial Section Start -->
<div id="rs-testimonial" class="rs-testimonial testimonial-style3 pt-120 md-pt-80">
    <div class="row no-gutters">
        <div class="col-lg-6 testi-image"></div>
        <div class="col-lg-6">
               <div class="widget-content">
                   <div class="sec-title mb-40 md-mb-20">
                       <span class="sub-text big-text">Testimonials</span>
                       <h2 class="title title2">
                           What People <span>Says</span>
                       </h2>
                   </div>
                      <div class="rs-carousel owl-carousel" data-loop="true" data-items="1" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="true" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="true" data-md-device="1" data-md-device-nav="false" data-md-device-dots="true">
                       <div class="testi-item">
                        <div class="item-content-basic">
                            <div class="quote">
                                <img src="images/testimonial/style1/quote2.png" alt="Images">
                            </div>
                            <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway.</p>
                        </div>
                        <div class="testi-content">
                            <div class="testi-information">
                                <div class="testi-name">Margot Robbie</div>
                                <span class="designation">CEO, Pro Theme</span>
                            </div>
                        </div>
                       </div>
                       <div class="testi-item">
                        <div class="item-content-basic">
                            <div class="quote">
                                <img src="images/testimonial/style1/quote2.png" alt="Images">
                            </div>
                            <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway.</p>
                        </div>
                        <div class="testi-content">
                            <div class="testi-information">
                                <div class="testi-name">Dj Brovo</div>
                                <span class="designation">Digital Marketer</span>
                            </div>
                        </div>
                       </div>
                       <div class="testi-item">
                        <div class="item-content-basic">
                            <div class="quote">
                                <img src="images/testimonial/style1/quote2.png" alt="Images">
                            </div>
                            <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway.</p>
                        </div>
                        <div class="testi-content">
                            <div class="testi-information">
                                <div class="testi-name">Maria Masud</div>
                                <span class="designation">Web Developer</span>
                            </div>
                        </div>
                       </div>
                      </div>
               </div>
        </div>
    </div>
</div>
<!-- Testimonial Section End -->

<!-- Contact Start -->
<div class="rs-contact contact-style2 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-6">
                <div class="con-about">
                    <img src="images/contact/con-about.png" alt="Images">
                </div>					
            </div>
            <div class="col-lg-6">
                <div class="contact-section">
                    <div class="contact-wrap">
                        <div class="sec-title mb-35">
                               <h2 class="title title2">
                                   Free <span>Consultation</span>
                               </h2>
                           </div>
                        <form id="contact-form" method="post" action="https://demo.rstheme.com/html/renovix/mailer.php">
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <input class="from-control" type="text" id="name" name="name" placeholder="Name" required="">
                                    </div> 
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <input class="from-control" type="text" id="email" name="email" placeholder="E-Mail" required="">
                                    </div>   
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <input class="from-control" type="text" id="phone" name="phone" placeholder="Phone Number" required="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <input class="from-control" type="text" id="website" name="website" placeholder="Your Website" required="">
                                    </div>
                                    <div class="col-lg-12 mb-35">
                                        <textarea class="from-control" id="message" name="message" placeholder="Your Message Here" required=""></textarea>
                                    </div>
                                </div>
                                <div class="btn-part">                                            
                                    <div class="form-group mb-0">
                                        <input class="readon details submit" type="submit" value="Submit Now">
                                    </div>
                                </div> 
                            </fieldset>
                        </form> 
                        <div id="form-messages"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

<!-- Partner Section Start -->
<div class="rs-partner partner-style1 bg15 pt-80 pb-80 md-pt-70 md-pb-70">
    <div class="container custom">
        <div class="rs-carousel owl-carousel" 
            data-loop="true" 
            data-items="5" 
            data-margin="30" 
            data-autoplay="true" 
            data-hoverpause="true" 
            data-autoplay-timeout="5000" 
            data-smart-speed="800" 
            data-dots="false" 
            data-nav="false" 
            data-nav-speed="false" 

            data-md-device="5" 
            data-md-device-nav="false" 
            data-md-device-dots="false" 
            data-center-mode="false"

            data-ipad-device2="3" 
            data-ipad-device-nav2="false" 
            data-ipad-device-dots2="false"

            data-ipad-device="3" 
            data-ipad-device-nav="false" 
            data-ipad-device-dots="false" 

            data-mobile-device="2" 
            data-mobile-device-nav="false" 
            data-mobile-device-dots="false">  
            <div class="logo-img">
                <a href="https://rstheme.com/">
                    <img class="hovers-logos rs-grid-img" src="images/partner/style2/1.png" title="" alt="">
                    <img class="mains-logos rs-grid-img " src="images/partner/style2/1.png" title="" alt="">
                </a>
            </div>
            <div class="logo-img">
                <a href="https://rstheme.com/">
                    <img class="hovers-logos rs-grid-img" src="images/partner/style2/2.png" title="" alt="">
                    <img class="mains-logos rs-grid-img " src="images/partner/style2/2.png" title="" alt="">
                </a>
            </div>
            <div class="logo-img">
                <a href="https://rstheme.com/">
                    <img class="hovers-logos rs-grid-img" src="images/partner/style2/3.png" title="" alt="">
                    <img class="mains-logos rs-grid-img " src="images/partner/style2/3.png" title="" alt="">
                </a>
            </div>
            <div class="logo-img">
                <a href="https://rstheme.com/">
                    <img class="hovers-logos rs-grid-img" src="images/partner/style2/4.png" title="" alt="">
                    <img class="mains-logos rs-grid-img " src="images/partner/style2/4.png" title="" alt="">
                </a>
            </div>
            <div class="logo-img">
                <a href="https://rstheme.com/">
                    <img class="hovers-logos rs-grid-img" src="images/partner/style2/5.png" title="" alt="">
                    <img class="mains-logos rs-grid-img " src="images/partner/style2/5.png" title="" alt="">
                </a>
            </div>
            <div class="logo-img">
                <a href="https://rstheme.com/">
                    <img class="hovers-logos rs-grid-img" src="images/partner/style2/6.png" title="" alt="">
                    <img class="mains-logos rs-grid-img " src="images/partner/style2/6.png" title="" alt="">
                </a>
            </div>
            <div class="logo-img">
                <a href="hhttps://rstheme.com">
                    <img class="hovers-logos rs-grid-img" src="images/partner/style2/7.png" title="" alt="">
                    <img class="mains-logos rs-grid-img " src="images/partner/style2/7.png" title="" alt="">
                </a>
            </div>
            <div class="logo-img">
                <a href="https://rstheme.com/">
                    <img class="hovers-logos rs-grid-img" src="images/partner/style2/8.png" title="" alt="">
                    <img class="mains-logos rs-grid-img " src="images/partner/style2/8.png" title="" alt="">
                </a>
            </div>
            <div class="logo-img">
                <a href="https://rstheme.com/">
                    <img class="hovers-logos rs-grid-img" src="images/partner/style2/9.png" title="" alt="">
                    <img class="mains-logos rs-grid-img " src="images/partner/style2/9.png" title="" alt="">
                </a>
            </div>
            <div class="logo-img">
                <a href="https://rstheme.com/">
                    <img class="hovers-logos rs-grid-img" src="images/partner/style2/10.png" title="" alt="">
                    <img class="mains-logos rs-grid-img " src="images/partner/style2/10.png" title="" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Partner Section End -->