<div class="rs-breadcrumbs img1">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Abroad Study
                <span class="watermark">Abroad</span>
            </h1>
            <span class="sub-text">Studying abroad refers to the act of pursuing educational opportunities in a foreign country. This experience provides students with the chance to immerse themselves in a new culture, gain a global perspective, and often access academic programs and resources that may not be available in their home country.</span>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<div class="rs-about about-style2 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 pr-65 md-pr-15 md-mb-50">
                <div class="sec-title mb-30">
                    <span class="sub-text big-text">STUDY IN EUROPE-MALTA</span>
                    <p  style="font-size: medium; font-weight: bold;">
                        DIPLOMA COURSES: 01 YEAER  
                    </p><br>
                    <span style="padding: 0px 0px 0px 20px;font-size: 20px;
                    line-height: 30px;
                    font-weight: 700;color: #FF6D00;"> MCAST</span>
                    <!--<p class="desc small2">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy data foster to collaborative thinking to empowerment.</p>
                
                    -->	</div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="check-lists">
                            <li>DIPLOMA IN HOTEL &HOSPITALITY MANAGEMENT</li>
                            <li>DIPLOMA IN TRANSPORTATION & LOGISTICS MGT</li>
                            <li>UNDEGRAGUATE DIPLOMA IN AUTO ELECTRONICS & ELECTRICAL TECHNOLOGY</li>
                            <li>MCAST PREPARATORY ACCESS COURSE</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="check-lists">
                             <li>UNDEGRAGUATE DIPLOMA IN FOUNDATION OF ENGINEERING</li>
                             <li>UNDEGRAGUATE CERTIFICATE IN AUTOELECTRONIC &ELECTRICAL TECHNOLOGY</li>
                             <li>UNDEGRAGUATE DIPLOMA IN HOTEL AND HOSPITALITY MANAGEMENT</li>
                             
                        </ul>
                    </div>
                </div>
                <div class="rs-addon-services">
                    <div class="services-wrap">
                        <!--
                        <div class="services-icon">
                            <img src="assets/images/approach/icon-bg.png" alt="Images">
                        </div>
                    -->
                        <div class="services-content">
                            <h5 class="title" style="color: #FF6D00;"> IDEA ACADEMY </h5>
                            <!--<p class="services-txt"><a href="tel:+0885898745">(+088) 589-8745</a></p>-->
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="check-lists">
                            <li>DIPLOMA IN MANAGEMENT</li>
                            <li>DIPLOMA IN HOSPITALITY</li>
                            <li>DIPLOMA IN HEALTH SCIENCE</li>
                            
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="check-lists">
                             <li>DIPLOMA IN SUPPLY CHAIN MANAGEMENT & LOGISTICS</li>
                             <li>DIPLOMA IN ELDERLY CARE MANAGEMENT</li>
                             <li>DIPLOMA IN COMPUTING</li>
                             
                        </ul>
                    </div>
                </div>
                <!--
                <div class="btn-part mt-40">
                    <a class="readon slide-started more" href="about.html"><span>Get Started</span></a>
                </div>
            -->

            </div>
            <div class="col-lg-6">
                <div class="appoach-img wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                    <img src="/images/approach/approch-3.png" alt="Images">
                </div>
            </div>

        </div>
    </div>
</div>
<div class="rs-about about-style2 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 pr-65 md-pr-15 md-mb-50">
                
                <!--
                <div class="btn-part mt-40">
                    <a class="readon slide-started more" href="about.html"><span>Get Started</span></a>
                </div>
            -->
            <div class="appoach-img wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                <img src="/images/blog/abroad.png" alt="Images">
            </div>
            </div>
            <div class="col-lg-6">
                <div class="sec-title mb-30">
                    <span class="sub-text big-text">STUDY IN EUROPE-MALTA</span>
                    <!-- <h2 class="title title2 title-color pb-20">
                        PG DIPLOMA COURSES -LEVEL 7: 01 YEAR- <span> IDEA ACADEMY</span>
                    </h2> -->
                    <p  style="font-size: medium; font-weight: bold;">
                        PG DIPLOMA COURSES -LEVEL 7: 01 YEAR
                    </p><br>
                    <!-- <p  style="font-size: medium; font-weight: bold;">
                        DIPLOMA COURSES: 01 YEAER  
                    </p><br> -->
                    <span style="padding: 0px 0px 0px 20px;font-size: 20px;
                    line-height: 30px;
                    font-weight: 700;color: #FF6D00;"> IDEA ACADEMY</span>
                    <!--<p class="desc small2">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy data foster to collaborative thinking to empowerment.</p>
                
                    -->	</div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="check-lists">
                            <li>PG DIPLOMA IN MARKETING, PROJECT MGT, ENTREPREURSHIP, HUMAN RESOURSE</li>
                            <li> PG DIPLOMA IN HEALTHCARE MGT AND LEADERSHIP</li>
                            <li> PG DIPLOMA IN HOSPITALITY MANAGEMENT</li>
                            
                            
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="check-lists">
                             <li>PG DIPLOMA IN FINTECH</li>
                             <li> PG DIPLOMA IN ARTIFICAL INTELLIGENCE</li>
                             <li> PG DIPLOMA IN ELDERLY CARE MANAGEMENT</li>
                        </ul>
                    </div>
                </div>
                <div class="rs-addon-services">
                    <div class="services-wrap">
                        <!--
                        <div class="services-icon">
                            <img src="assets/images/approach/icon-bg.png" alt="Images">
                        </div>
                    -->
                        <div class="services-content">
                            <h5 class="title" style="color: #FF6D00;">GLOBAL COLLEGE </h5>
                            <!--<p class="services-txt"><a href="tel:+0885898745">(+088) 589-8745</a></p>-->
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="check-lists">
                            
                            <li>PG DIPLOMA IN MANAGEMENT, BUSSINESS ADMINISTRATION, BUSSINESS </li>
                            <li>ADMINISTRATION WITH LOGISTICS AND SUPPLY CHAIN, BUSSINESS </li>
                            <li>ADMINISTRATION LEADERSHIP &CHANGE MGT, MGT WITH HUMAN RESOURSE</li>
                            
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="check-lists">
                             <li>DIPLOMA IN SUPPLY CHAIN MANAGEMENT & LOGISTICS</li>
                             <li>DIPLOMA IN ELDERLY CARE MANAGEMENT</li>
                             <li>DIPLOMA IN COMPUTING</li>
                             <p class="p-2"><strong style="color: #FF6D00;">MCAST</strong></p>
                             <li>PG DIPLOMA IN BUSSINESS ADMINISTRATION</li>
                             <li>PG DIPLOMA IN TOURISM &EVENT MGT</li>
                             
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="rs-about about-style2 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 pr-65 md-pr-15 md-mb-50">
                <div class="sec-title mb-30">
                    <span class="sub-text big-text">STUDY IN EUROPE-MALTA</span>
                    <!-- <h2 class="title title2 title-color pb-20">
                        DEGREE COURSES: 03 OR 04 YEAER - <span> AMERICAN UNIVERSITY</span>
                    </h2> -->
                    <p  style="font-size: medium; font-weight: bold;">
                        DEGREE COURSES: 03 OR 04 YEAER 
                    </p><br>
                    <span style="padding: 0px 0px 0px 20px;font-size: 20px;
                    line-height: 30px;
                    font-weight: 700;color: #FF6D00;"> AMERICAN UNIVERSITY</span>
                    <!--<p class="desc small2">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy data foster to collaborative thinking to empowerment.</p>
                
                    -->	</div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="check-lists">
                           <li>BSC IN ACCOUNTING</li>
                           <li> BSC IN BUSSINESS ADMINISTRATION</li>
                           <li>BSC IN BUSSINESS AND FINANCE</li>
                           <li>BSC IN GAME DEVELOPMENT</li>
                           <li>BSC IN MECHANICAL ENGINEERING</li>
                           <li> BSC IN INDUSTRIAL ENGINEERING</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="check-lists">
                             <li>BSC IN CIVIL ENGINEERING</li>
                             <li>BSC IN ELECTRONIC AND COMMUNICATION ENGINEERING</li>
                             <li>BSC IN GRAPHIC DESIGN AND ANIMATION</li>
                             <li>BSC IN SOFTWARE ENGINEERING</li>
                             <li>BSC IN AVIATION MAINTENCE ENGINEERING</li>
                             
                        </ul>
                    </div>
                </div>
                <div class="rs-addon-services">
                    <div class="services-wrap">
                        <!--
                        <div class="services-icon">
                            <img src="assets/images/approach/icon-bg.png" alt="Images">
                        </div>
                    -->
                        <div class="services-content">
                            <h5 class="title" style="color: #FF6D00;">GLOBAL COLLEGE </h5>
                            <!--<p class="services-txt"><a href="tel:+0885898745">(+088) 589-8745</a></p>-->
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="check-lists">
                            <li>BACHELOR OF ARTS IN MANAGEMENT </li>
                            <li>BACHELOR OF ARTS IN MANAGEMENT WITH HUMAN RESOURSE MANAGEMENT</li>
                            <li>BACHELOR OF ARTS IN ACCOUNTANCY AND FINANCE</li>
                            <li>BACHELOR OF ARTS IN TOURISM AND EVENT MANAGEMENT</li>
                            <li>BACHELOR OF ARTS IN MARKETING</li>
                            <li>BACHELOR OF ARTS IN MANAGEMENT WITH PSHYCHOLOGY</li>
                            
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <p class=""><strong style="color: #FF6D00;">IDEA ACADEMY</strong></p>
                        <ul class="check-lists">
                           <li>BSC IN MANAGEMENT </li>
                           <li>BSC IN ACCOUNTING WITH MANAGEMENT &ANALYTICS</li>
                           <li> BSC IN COMPUTING</li>
                           <li> BSC IN NURSING TOP UP</li>
                             
                        </ul>
                        <p class="pt-2"><strong style="color: #FF6D00;" >MCAST</strong></p>
                        <ul class="check-lists">
                           <li>UNDERGRAGUATE CERTIFICATE IN NURSING STUDIES (BRIDGING COURSE) </li>
                           <li>AWARD IN BUSSINESS MANAGEMENT</li>
                           <li>UNDERGRAGUATE CERTIFICATE IN NURSING STUDIES (BRIDGING COURSE)</li>
                             
                        </ul>
                    </div>
                </div>
                <!--
                <div class="btn-part mt-40">
                    <a class="readon slide-started more" href="about.html"><span>Get Started</span></a>
                </div>
            -->

            </div>
            <div class="col-lg-6">
                <div class="appoach-img wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                    <img src="/images/blog/st-1.png" alt="Images">
                </div>
            </div>

        </div>
    </div>
</div>
<div class="rs-about about-style2 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 pr-65 md-pr-15 md-mb-50">
                
                <!--
                <div class="btn-part mt-40">
                    <a class="readon slide-started more" href="about.html"><span>Get Started</span></a>
                </div>
            -->
            <div class="appoach-img wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                <img src="/images/approach/approch-4.png" alt="Images">
            </div>
            </div>
            <div class="col-lg-6">
                <div class="sec-title mb-30">
                    <span class="sub-text big-text">STUDY IN EUROPE-MALTA</span>
                    <!-- <h2 class="title title2 title-color pb-20">
                        MASTERS COURSES: 03 YEAER <span> AMERICAN UNIVERSITY</span>
                    </h2> -->
                    <p  style="font-size: medium; font-weight: bold;">
                        MASTERS COURSES: 03 YEAER
                    </p><br>
                    <span style="padding: 0px 0px 0px 20px;font-size: 20px;
                    line-height: 30px;
                    font-weight: 700;color: #FF6D00;"> AMERICAN UNIVERSITY</span>
                    <!--<p class="desc small2">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy data foster to collaborative thinking to empowerment.</p>
                
                    -->	</div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="check-lists">
                           <li>MASTERS OF BUSSINESS ADMINISTRATION </li>
                           <li>MSC IN ENGINNERING MGT</li>
                           <li>MSC IN CYBER SECURITY</li>
                           <li>MSC IN COMPUTER SCIENCE</li>
                           <li>MSC IN ADVANCED MECHANICAL ENGINEERING</li>
                           <li>MBA IN TOURISM & HOSPITALITY</li>
                           <li>MBA IN HEALTH CARE MANAGEMENT</li>
                           <li>MASTER OF SCEINCE IN HEALTH & SOCIAL CARE MANAGNENT</li>
                          <li> MASTER OF SCEIENCE IN TOURISUM & EVENT MANAGMENT</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="check-lists">
                          <li>MASTER OF BUSINESS ADMINISTRATION </li>
                          <li>MASTER OF BUSINESS ADMINISTRATION (LOGISTICKS & SUPPLY CHAIN MANAGMENT)</li>
                          <li>MASTER OF SCIENCE LEADERSHIP AND CHANGE MANAGEMENT</li>
                          <li>MASTER OF SCEINCE IN MANAGEMENT</li>
                          <li>MASTER OF SCEINCE IN MANAGEMENT (HUMAN RESOURCES)</li>
                          <li>MASTER OF SCEIENCE IN MARKETING MANAGMENT</li>
                          
                          <li> EXECUTIVE MASTER IN BUSINESS ADMINISTRATION</li>
                          
                             
                        </ul>
                    </div>
                </div>
                <div class="rs-addon-services">
                    <div class="services-wrap">
                        <!--
                        <div class="services-icon">
                            <img src="assets/images/approach/icon-bg.png" alt="Images">
                        </div>
                    -->
                        <div class="services-content">
                            <h5 class="title" style="color: #FF6D00;"> IDEA ACADEMY </h5>
                            <!--<p class="services-txt"><a href="tel:+0885898745">(+088) 589-8745</a></p>-->
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="check-lists">
                            <li>DIPLOMA IN MANAGEMENT</li>
                            <li>DIPLOMA IN HOSPITALITY</li>
                            <li>DIPLOMA IN HEALTH SCIENCE</li>
                            
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="check-lists">
                             <li>DIPLOMA IN SUPPLY CHAIN MANAGEMENT & LOGISTICS</li>
                             <li>DIPLOMA IN ELDERLY CARE MANAGEMENT</li>
                             <li>DIPLOMA IN COMPUTING</li>
                             
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- About Start -->

<!-- About End -->

<!-- start -->

<!-- end -->
<!-- Call To Action Choose Start -->
<div class="rs-cta">
    <div class="container">
        <div class="call-action bg1 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
            <div class="sec-title">
                <span class="sub-text big-text">Careers</span>
                <h2 class="title title2 pb-28">
                    Want to Be Part of<br>
                    Our <span>Team?</span>
                </h2>
                <div class="btn-part">
                    <a class="readon details join" href="/contact">Join Our Team</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call To Action Choose End -->

<!-- Testimonial Section Start -->

<!-- Testimonial Section End -->

<!-- Contact Start -->
<div class="rs-contact contact-style2  pb-120 md-pb-80">
    
</div>
<!-- Contact End -->


<script>
    function submitForm(event) {
  
    // Reload the page
    location.reload();

    
    window.alert("contact detail send successfully")
}
</script>