<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img2">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Careers
                <span class="watermark">Careers</span>
            </h1>
            <span class="sub-text">Excepteur sint occaecat cupidatat non proident, sunt in coulpa qui official<br> 
            modeserunt mollit anim id est laborum 20 years experience.</span>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->

<!-- Services Section Start -->
<div class="rs-services services-style1 services-modify1 pt-120 md-pt-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 md-mb-30">
                <div class="services-item">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="images/services/style1/1.png" alt="Services">
                        </div>
                        <div class="services-content">
                            <h3 class="title"><a href="business-planning.html">Nature Friendly</a></h3>
                            <p class="services-txt">Leverage agile frameworks to provide a robust synopsis for high level overviews</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-30">
                <div class="services-item ser-bg2">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="images/services/style1/2.png" alt="Services">
                        </div>
                        <div class="services-content">
                            <h3 class="title"><a href="financial-advices.html">Health Insurance</a></h3>
                            <p class="services-txt">Leverage agile frameworks to provide a robust synopsis for high level overviews</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-item ser-bg3">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="images/services/style1/3.png" alt="Services">
                        </div>
                        <div class="services-content">
                            <h3 class="title"><a href="business-analysis.html">Provident Fund</a></h3>
                            <p class="services-txt">Leverage agile frameworks to provide a robust synopsis for high level overviews</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Section End -->

<!-- Videos Section Start -->
<div class="rs-videos careers-style1 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="images-video">
            <img src="images/video/careers.jpg" alt="images">
        </div>
        <div class="overly-border">
            <a class="popup-videos" href="https://www.youtube.com/watch?v=LpdRAyIGg8I">
                <i class="fa fa-play"></i>
            </a>
        </div>    
    </div>
</div>
<!-- Videos Section End -->

<!-- Services Section Start -->
<div class="rs-services services-style5 services-carrers-modify1 bg19 pt-120 pb-170 md-pt-80 sm-pt-80 sm-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="sec-title mb-65 md-mb-30">
                    <h2 class="title title3">
                        Job Opportunities
                    </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="btn-part text-right md-left md-mb-30">
                          <a class="readon details" href="careers-single.html">Discover renovix</a>
                      </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-20">
                <div class="services-item">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="images/services/main-home/main-icons/1.png" alt="Services">
                        </div>
                        <div class="services-text">
                            <h2 class="title">Account Manager</h2>
                            <p class="services-txt">Leverage agile frameworks data to provide a robust synopsis for high level overviews.</p>
                            <div class="services-btn">
                                <a class="readon read-more apply" href="careers-single.html">Apply Now<i class="fa fa fa-angle-right"></i></a>
                            </div>
                            <div class="serial-number">01 </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-20">
                <div class="services-item">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="images/services/main-home/main-icons/2.png" alt="Services">
                        </div>
                        <div class="services-text">
                            <h2 class="title">UI/UX Developer</h2>
                            <p class="services-txt">Leverage agile frameworks data to provide a robust synopsis for high level overviews.</p>
                            <div class="services-btn">
                                <a class="readon read-more apply" href="careers-single.html">Apply Now<i class="fa fa fa-angle-right"></i></a>
                            </div>
                            <div class="serial-number">02 </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-20">
                <div class="services-item">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="images/services/main-home/main-icons/3.png" alt="Services">
                        </div>
                        <div class="services-text">
                            <h2 class="title">Web Developer</h2>
                            <p class="services-txt">Leverage agile frameworks data to provide a robust synopsis for high level overviews.</p>
                            <div class="services-btn">
                                <a class="readon read-more apply" href="careers-single.html">Apply Now<i class="fa fa fa-angle-right"></i></a>
                            </div>
                            <div class="serial-number">03 </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 md-mb-20">
                <div class="services-item">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="images/services/main-home/main-icons/4.png" alt="Services">
                        </div>
                        <div class="services-text">
                            <h2 class="title">Project Management</h2>
                            <p class="services-txt">Leverage agile frameworks data to provide a robust synopsis for high level overviews.</p>
                            <div class="services-btn">
                                <a class="readon read-more apply" href="careers-single.html">Apply Now<i class="fa fa fa-angle-right"></i></a>
                            </div>
                            <div class="serial-number">04 </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-20">
                <div class="services-item">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="images/services/main-home/main-icons/5.png" alt="Services">
                        </div>
                        <div class="services-text">
                            <h2 class="title">Database Design</h2>
                            <p class="services-txt">Leverage agile frameworks data to provide a robust synopsis for high level overviews.</p>
                            <div class="services-btn">
                                <a class="readon read-more apply" href="careers-single.html">Apply Now<i class="fa fa fa-angle-right"></i></a>
                            </div>
                            <div class="serial-number">05 </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-item">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="images/services/main-home/main-icons/6.png" alt="Services">
                        </div>
                        <div class="services-text">
                            <h2 class="title">React Developer</h2>
                            <p class="services-txt">Leverage agile frameworks data to provide a robust synopsis for high level overviews.</p>
                            <div class="services-btn">
                                <a class="readon read-more apply" href="careers-single.html">Apply Now<i class="fa fa fa-angle-right"></i></a>
                            </div>
                            <div class="serial-number">06 </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Section End -->

<!-- Contact Start -->
<div class="rs-contact contact-style1 contact-modify3 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-6 contact-form"></div>
            <div class="col-lg-6">
                <div class="contact-section">
                    <div class="sec-title mb-20">
                        <span class="sub-text">Let’s talk</span>
                        <h2 class="title">
                            Free Consultation
                        </h2>
                    </div>
                    <div class="contact-wrap">
                        <form id="contact-form" method="post" action="https://demo.rstheme.com/html/renovix/mailer.php">
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <input class="from-control" type="text" id="name" name="name" placeholder="Name" required="">
                                    </div> 
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <input class="from-control" type="email" id="email" name="email" placeholder="E-Mail" required="">
                                    </div>   
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <input class="from-control" type="text" id="phone" name="phone" placeholder="Phone Number" required="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <input class="from-control" type="text" id="website" name="website" placeholder="Your Website" required="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <select name="consultation" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                                            <option value="Business Planning">Business Planning</option>
                                            <option value="Project Reporting">Project Reporting</option>
                                            <option value="Financial Advices">Financial Advices</option>
                                            <option value="Business Analysis">Business Analysis</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-25">
                                        <input class="from-control" type="text" id="date" name="date" placeholder="mm/ddd/yyy" required="">
                                    </div>
                                    <div class="col-lg-12 mb-35">
                                        <textarea class="from-control" id="message" name="message" placeholder="Your Message Here" required=""></textarea>
                                    </div>
                                </div>
                                <div class="btn-part">                                            
                                    <div class="form-group mb-0">
                                        <input class="readon details submit2" type="submit" value="Submit Now">
                                    </div>
                                </div> 
                            </fieldset>
                        </form> 
                        <div id="form-messages"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->